@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --default-gradient: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --hover-gradient: linear-gradient(
    -47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  --primary-bg-color: #1a0b2e;
  --secondary-bg-color: #230e3d;
  --green-color: #00ff88;
  --dark-white: rgba(255, 255, 255, 0.8);
}

/* shared style  */

.btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: var(--default-gradient);
  padding: 12px 16px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
}
.btn:hover {
  background: var(--hover-gradient);
}

.btn-green {
  font-size: 16px;
  font-weight: 600;
  color: #00ff88;
  background: none;
  padding: 12px 20px;
  border: 1px solid #00ff88;
  border-radius: 1000px;
  cursor: pointer;
}

/* nav bar  */

nav {
  padding: 16px 200px;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd30;
}
nav .logo h2 {
  color: white;
  font-size: 32px;
}
nav .logo span {
  background: var(--default-gradient);
  font-size: 32px;
  background-clip: text;
  color: transparent;
}

nav .menu ul {
  display: flex;
  gap: 32px;
}

nav .menu ul li {
  list-style: none;
}
nav .menu ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

nav .button img {
  vertical-align: middle;
  margin-left: 4px;
}

/* banner section */

#banner {
  /* background: url('assets/hero-bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
}

#banner .banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 101px;
  flex-direction: column;
  text-align: center;
  background: url('assets/hero-bg.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  /* padding-bottom: 101px; */
}

.banner-content .banner-image {
  position: relative;
}
.img-circle {
  max-width: 350px;
  max-height: 350px;
}
.img-mic {
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  left: 117px;
  top: 90px;
}

.banner-content .banner-text h1 {
  color: white;
  font-weight: 800;
  font-size: 60px;
  margin-top: 40px;
}
.banner-content .banner-text p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-top: 8px;
}
.banner-content .banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.banner-content .banner-button .btn {
  padding: 12px 20px;
}
.banner-content .banner-button img {
  vertical-align: middle;
  margin-right: 8px;
}

/* about section */

#about .about-container {
  background-color: var(--primary-bg-color);
  padding: 50px 200px 120px;
}

.about-container .about-text {
  text-align: center;
  border-bottom: 1px solid #dddddd30;
  margin-bottom: 80px;
}
.about-container .about-text h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.about-container .about-text p {
  color: var(--dark-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  max-width: 800px;
  margin: 0 auto 16px;
}
.about-container .about-text .p-one {
  margin-bottom: 80px;
}

.about-container .about-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  text-align: center;
}

.about-container .about-rating .rating h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--green-color);
}
.about-container .about-rating .rating span {
  color: var(--dark-white);
  font-size: 16px;
  font-weight: 400;
}
